:root{
    --gray1:#9A9A9A;
    --gray3:#DFDFDF;
    --gray4:#F8F8F8;
    --white:#FFFFFF;
    --black:#222831;
    --primary:#10375C;
    --secondary:#FF5722;
    --primary120:#0D2C4A;
    --secondary120:#DD2C00;
}
@font-face {
    font-family: Lato, sans-serif;
    src: url(../../Source/Fonts/Lato-Regular.ttf);
    font-size: normal;
    font-family: normal;
}
@font-face {
    font-family: Lora, sans-serif;
    src: url(../../Source/Fonts/Lora-Regular.ttf);
    font-size: normal;
    font-family: normal;
}
@font-face {
    font-family: PlayfairDisplay, sans-serif;
    src: url(../../Source/Fonts/PlayfairDisplay-Bold.ttf);
    font-size: 700;
    font-family: normal;
}



/*header*/
header .logo{
    text-decoration: none;
    font-family: PlayfairDisplay;
    font-size: 24px;
    font-size: bold;
    font-family: normal;
    line-height: 32px;
    color: var(--primary); 
}
header li .nav-link{
    text-decoration: none;
    font-family: Lato;
    font-size: bold;
    font-family: normal;
    font-size: 16px;
    line-height: 28px;
    color: var(--black);    
}
header .account a{
    text-decoration: none;
    font-family: Lato;
    font-size: bold;
    font-family: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--secondary);
}
header .account a:last-of-type{
    text-decoration: none;
    font-family: Lato;
    font-size: bold;
    font-family: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
}



/*intro*/
.top-intro > div{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
}
.top-intro h1{
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 67px;
    color: var(--primary);
}
.top-intro word{
    color:var(--secondary120)
}
.top-intro > div > span:last-of-type{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #6A6A6A;    
}

/*form intro*/
.intro form > p{
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    color: var(--white);    
}
.intro form div p{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
    opacity: 0.35;
}
.intro form select{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
}
.intro form select option{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--black);
}
.intro form input{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--white);    
}
.intro button{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: var(--white);    
}





/*our spaces*/
.our_spaces .slider span > p:first-of-type{/*name slide*/
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: var(--black);
}
.our_spaces .heading h2{
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    color: var(--primary);
}
.our_spaces .heading span:first-of-type{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--gray1);
}
.our_spaces .slider a{
    text-decoration: none;
}
.our_spaces .slide a p{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
}
.our_spaces .nav-slider p span:first-of-type{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--black);    
}
.our_spaces .nav-slider p span:nth-of-type(2){
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: var(--primary120);    
}
.our_spaces .nav-slider p span:last-of-type{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray1);
}









/*why frispes*/
.why-frispes .left-side h3{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 41px;
    color: var(--primary);
}
.why-frispes .left-side p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray1);    
}
.why-frispes .right-side span{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--white);
}
.why-frispes .right-side h2{
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    color: var(--white);    
}
.why-frispes .right-side p{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--white);    
}







/*our facilities*/
.our-facilities .top-side span:first-of-type{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
}
.our-facilities .top-side h2{
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    color: var(--primary);
}
.our-facilities .indicator-slider span:first-of-type{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--primary);
}
.our-facilities .indicator-slider span:nth-of-type(2){
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: var(--primary);    
}
.our-facilities .indicator-slider span:last-of-type{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray1);
}
.our-facilities .nav-slider div{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: var(--black);
}





/*galley*/
.gallery span div span:first-of-type{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
}
.gallery h2{
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    color: var(--primary);    
}






/*who uses*/
.who-uses h2{
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    color: var(--primary120);    
}
.who-uses p{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--gray1);
}








/*reviews*/
.reviews .heading span:first-of-type{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);    
}
.reviews .heading h2{
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    color: var(--primary);    
}
.reviews .slide > p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
}
.reviews .slide span p:first-of-type{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;    
    color: var(--white);
}
.reviews .slide span p:last-of-type{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
}




/*help center*/
.help-center .heading{
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    color: var(--primary);
}
.help-center > p a{
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--secondary);
}
.help-center .item h4{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 33px;
    color: #000000;    
}





/*news*/
.news-top-side h2{
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    color: var(--primary);    
}
.news-top-side span a{
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--secondary);    
}
.news-bottom-side > div > span h6{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: var(--black);    
}
.news-bottom-side > div > span p{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray1);    
}
.news-bottom-side .main_news h3{
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;   
    color: var(--black);    
}
.news-bottom-side .main_news .description{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray1);    
}
.news-bottom-side .main_news .name{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--primary);
}
.news-bottom-side .main_news .job{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray1);
}