/*intro*/
@media (max-width:1199px) {
    .top-intro div:last-of-type > *{
        margin-bottom:30px;
    }
    @media (max-width:991px) {
        .background_intro .background{
            background-position:  bottom center;
        }
    }
    @media (max-width:575px) {
        .intro form{
            height: 520px;
        }
        .top-intro h1{
            font-size: 42px;
            line-height: 57px;
        }
    }
}




/*our spaces*/
@media (max-width:991px) {
    .our_spaces .nav-slider p:first-of-type span:nth-last-child(2){
        display:inline-block;
    }
    @media (max-width:700px) {
        .our_spaces .nav-slider p:first-of-type span:last-child{
            display:inline-block;
        }
    }   
}



/*reviews*/
@media (max-width:425px) {
    .reviews .slide{
        padding:35px 0px 40px 10px;   
    }
    .reviews .slide > p{
        max-width:365px;
        padding-right:85px;
    }
}


/*news*/
@media (max-width:1199px) {
    .news-bottom-side .main_news{
        max-width:350px;
    }
    @media (max-width:575px) {
        .news-bottom-side > div > span{
            max-width:320px;
        }   
    }
}





/*became member*/
@media (max-width:991px) {
    .became-member a{
        padding:12.5px 96px;
    }
    @media (max-width:575px) {
        .became-member a{
            padding:12.5px 80px;
        }
    }
}